<!DOCTYPE html>
<html>
  <head>
    <title>PokéTrade Verifier</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="content">
      <h1>Verify Pokémon Trade</h1>
      <h2>Instructions</h2>
      <ul>
        <li>Type the name of the Pokémon you want to trade</li>
        <li>Click "verify" to check if the trade is fair</li>
      </ul>
      <h2>Verify Trade</h2>
      <form>
        <table>
          <tr>
            <th>Party 1</th>
            <th>Party 2</th>
          </tr>
          <tr> <!-- 1 -->
            <td><input type="text" id="p-1-1" value=""></td>
            <td><input type="text" id="p-2-1" value=""></td>
          </tr>
          <tr> <!-- 2 -->
            <td><input type="text" id="p-1-2" value=""></td>
            <td><input type="text" id="p-2-2" value=""></td>
          </tr>
          <tr> <!-- 3 -->
            <td><input type="text" id="p-1-3" value=""></td>
            <td><input type="text" id="p-2-3" value=""></td>
          </tr>
          <tr> <!-- 4 -->
            <td><input type="text" id="p-1-4" value=""></td>
            <td><input type="text" id="p-2-4" value=""></td>
          </tr>
          <tr> <!-- 5 -->
            <td><input type="text" id="p-1-5" value=""></td>
            <td><input type="text" id="p-2-5" value=""></td>
          </tr>
          <tr> <!-- 6 -->
            <td><input type="text" id="p-1-6" value=""></td>
            <td><input type="text" id="p-2-6" value=""></td>
          </tr>
        </table>
        <p>
          <button type="button" onclick="verify_trade()">Verify</button>
          <button type="button" onclick="save_trade()">Save trade</button>
        </p>
        <p id="fair-trade-indicator"></p>
      </form>

      <h2>Most recent trades</h2>
      <% if @trades.length == 0 %>
        <p>No recent trades to display</p>
      <% else %>
        <% @trades.each do |trade| %>
          <table>
            <tr>
              <th>Party 1</th>
              <th>Party 2</th>
            </tr>
            <tr> <!-- 1 -->
              <td><%= trade[0][0]%></td>
              <td><%= trade[1][0]%></td>
            </tr>
            <tr> <!-- 2 -->
              <td><%= trade[0][1]%></td>
              <td><%= trade[1][1]%></td>
            </tr>
            <tr> <!-- 3 -->
              <td><%= trade[0][2]%></td>
              <td><%= trade[1][2]%></td>
            </tr>
            <tr> <!-- 4 -->
              <td><%= trade[0][3]%></td>
              <td><%= trade[1][3]%></td>
            </tr>
            <tr> <!-- 5 -->
              <td><%= trade[0][4]%></td>
              <td><%= trade[1][4]%></td>
            </tr>
            <tr> <!-- 6 -->
              <td><%= trade[0][5]%></td>
              <td><%= trade[1][5]%></td>
            </tr>
          </table>
        <% end %>
      <% end %>
    </div>

    <script type="text/javascript">
      function get_party_by_id(pid) {
        var party = [];
        for (var i = 1; i <= 6; i++) {
          var n = document.getElementById(`p-${pid}-${i}`).value;
          if (n !== "") {
            party.push(n);
          }
        }
        return party;
      }

      function verify_trade() {
        var party1 = get_party_by_id("1");
        var party2 = get_party_by_id("2");
        var request = new XMLHttpRequest();
        var url = "/main/fair?parties=" + encodeURIComponent(JSON.stringify([party1, party2]));

        request.open('GET', url, true);
        request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
        request.onreadystatechange = function() {
          var response = JSON.parse(request.response);
          if (!response.error) {
            document.getElementById("fair-trade-indicator").innerHTML = (response.result)?
             "This trade is fair!" :
             "This trade IS NOT fair!" ;
          }
        }
        request.send();
      }

      function save_trade() {
        var party1 = get_party_by_id("1");
        var party2 = get_party_by_id("2");
        var request = new XMLHttpRequest();
        var url = "/main/save";

        request.open('POST', url, true);
        request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
        request.setRequestHeader('X-CSRF-Token', document.head.querySelector("meta[name=csrf-token]").content);
        request.onload = function() {
          console.log(this.response);
        }
        request.send("parties=" + encodeURIComponent(JSON.stringify([party1, party2])));
      }
    </script>
  </body>
</html>
